* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #edede9 0%, #d6ccc2 20%, #ecddcd 40%, #ceb7a6 60%, #d5bdaf 80%, #d5b19d 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    font-size: 36px;
    line-height: 1;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

#conversionForm {
    margin-top: 50px;
    background-color: rgb(56, 47, 47);
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.form-label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#conversionForm input[type="submit"] {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#conversionForm input[type="submit"]:hover {
    background-color: #45a049;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
